
#container {
	width: 360px;
	margin: 120px auto;
	font-family: 'Questrial', sans-serif;
	box-shadow: 0 0 10px rgba(49, 15, 112,0.1);
}

h1 {
	/*text-align: center;*/
	background-color: #430b8c;
	color: white;
	text-transform: uppercase;
	padding: 0.5rem 30px;
	padding-right: 0.6rem;
	font-size: 1.6rem;
	/*padding: 10px 20px;
	font-size: 24px;*/
	font-weight: normal;
	margin: 0;
}

body {
	background: #f7ff00; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #f7ff00, #db36a4); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #f7ff00, #db36a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-plus {
	float: right;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

li {
	margin: 0;
	height: 40px;
	line-height: 40px;
	/*padding: 0 30px;*/
	/*padding: 0.5rem 25px;*/
	color: #110526;
} li:nth-child(2n) {
	background-color: rgba(192, 147, 249, 0.1);
} li:hover span {
	width: 40px;
	transition: 0.2s linear;
	opacity: 1.0;
}

input {
	height: 45px;
	line-height: 45px;
	width: 360px;
	color: #430b8c;
	font-weight: bold;
	font-family: 'Questrial', sans-serif;
	padding: 0.6rem 25px;
	box-sizing : border-box;
	font-size: 1.2rem;
	border: none;
	background-color: rgba(192, 147, 249, 0.4);
} input[type=text]:focus {
	background-color: white;
	outline: none;
	box-shadow: 0 0 7px rgba(112, 37, 209, 0.6);
} input::placeholder {
	color: rgba(0,0,0,0.4);
}

.done {
	text-decoration: line-through;
	color: gray;
}

span {
	background-color: #e74c3c;
	margin-right: 20px; 
	color: white;
	text-align: center;
	display: inline-block;
	height: 40px;
	width: 0px;
	opacity: 0;
}